@import url("normalize.css");
@import url("http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic&subset=latin,latin-ext");

body {
  max-width: 40em;
  font-family: 'Noto Serif', serif;
  font-size: 80%;
  line-height: 1.5;
  padding: 1em;
}

h1, h2, h3 {
  color: Crimson;
}

a {
  color: DodgerBlue;
}

a:visited {
  color: DarkSlateBlue;
}

/* Remove dotted border in Firefox when clicking on a link */
a:focus {
  outline: none;
}

/* Use Semantic Linefeeds:
 * http://rhodesmill.org/brandon/2012/one-sentence-per-line/
 */
p {
  /*white-space: pre-line;*/
  text-align: justify;
}

/* there seems to be a bottom margin in svg elements.
 * the size is slightly different in Firefox and Chrome.
 * maybe this should be reported to normalize.css
 */
embed {
  margin-bottom: -0.35em;
}

.note {
  font-style: italic;
  color: #666;
  padding-left:0.5em;
  padding-right:0.5em;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid silver;
}

.gray {
  color: gray;
}

.gray a {
  color: SlateGray;
}

.right {
  text-align: right;
}

dt {
  margin-top: 1em;
}

input {
  vertical-align: middle;
}

.todo {
  background-color: yellow;
}