@import url("normalize.css");
/*@import url("http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic&subset=latin,latin-ext");*/
@import url("//brick.a.ssl.fastly.net/Noto+Serif:400,400i,700,700i");

body {
  max-width: 42em;
  font-family: 'Noto Serif', serif;
  font-size: 80%;
  line-height: 1.5;
  padding: 1em;
  -webkit-font-feature-settings: "kern", "liga";
  -moz-font-feature-settings: "kern", "liga";
  font-feature-settings: "kern", "liga";
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  color: Crimson;
}

a {
  color: DodgerBlue;
}

a:visited {
  color: DarkSlateBlue;
}

/* Remove dotted border in Firefox when clicking on a link */
a:focus {
  outline: none;
}

/* Use Semantic Linefeeds:
 * http://rhodesmill.org/brandon/2012/one-sentence-per-line/
 */
p {
  /*white-space: pre-line;*/
  text-align: justify;
}

/* there seems to be a bottom margin in svg elements.
 * the size is slightly different in Firefox and Chrome.
 * maybe this should be reported to normalize.css
 */
embed {
  margin-bottom: -0.35em;
}

.note {
  font-style: italic;
  color: #666;
  padding: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid silver;
  background: #fec;
}
.note:before {
  content: "Note: ";
  font-weight: bold;
}

.gray {
  color: gray;
}

.gray a {
  color: SlateGray;
}

.right {
  text-align: right;
}

dt {
  margin-top: 1em;
}

input {
  vertical-align: middle;
}

.todo {
  background-color: yellow;
}

pre {
  background-color: #eec;
  border: 1px solid silver;
  padding: 1em;
}

table {
  text-align: center;
}

td, th {
  border: 1px solid silver;
}
