#js-cgh canvas,
#js-cgh img {
	border: 1px solid silver;
}
#js-cgh span.right {
	display: inline-block;
	float: right;
}
#js-cgh canvas {
	display: none;
	background-color: black;
}
#js-cgh div {
	float: left;
	margin: 0.5em;
	padding: 0.5em;
	background-color: lavender;
	font-size: 80%;
}
