#main-wrapper {
	background: #eee;
	border: 1px solid crimson;
	padding: 1em;
	text-align: center;
}

#canvas-wrapper {
	display: inline-block;
}

fieldset {
	margin-top: 1em;
	text-align: left;
}

.flankedSlider input[type=range] {
	flex: 1;
	margin: 0 1em;
}

span[id$=value] {
	width: 6em;
	text-align: right;
}

.flankedSlider {
	display: flex;
}

#r-example {
	font-size: small;
	color: grey;
	display: block;
	text-align: right;
}

/* ************
 * Scale marker
 */

#scale-marker {
	border: none;
	border-top: 1px solid black;
	margin: 0.5em auto;
	width: 100%;
	height: 1em;
	padding: 0;
	text-align: center;
}

/* Add a zero-width space so the content isn't empty,
 * otherwise the pseudo-elements aren't shown. */
#scale-marker:before, #scale-marker:after {
	content: "\200B";
	height: 1em;
	margin-top: -0.5em;
}

#scale-marker:before {
	border-left: 1px solid black;
	float: left;
}

#scale-marker:after {
	border-right: 1px solid black;
	float: right;
}
