#main-wrapper {
	background: #eee;
	border: 1px solid crimson;
	padding: 1em;
}

#canvas-wrapper, fieldset {
	margin: 1em auto; /* Auto = center horizontally */
	box-sizing: border-box;
	width: 600px; /* Same as the canvas width */
}

.flankedSlider input[type=range] {
	flex: 1;
	margin: 0 1em;
}

span[id$=value] {
	width: 6em;
	text-align: right;
}

.flankedSlider {
	display: flex;
}

#r-example {
	font-size: small;
	color: grey;
	display: block;
	text-align: right;
}

/* ************
 * Scale marker
 */

#scale-marker {
	border-bottom: 1px solid black;
	margin-right: 0.5em;
	width: 100px;
	height: 1em;
	display: inline-block;
}

/* Add a zero-width space so the content isn't empty,
 * otherwise the pseudo-elements aren't shown. */
#scale-marker:before, #scale-marker:after {
	content: "\200B";
	height: 1em;
	margin-top: 0.5em;
}

#scale-marker:before {
	border-left: 1px solid black;
	float: left;
}

#scale-marker:after {
	border-right: 1px solid black;
	float: right;
}

#scale-text {
	display: inline-block;
	height: 1em;
	line-height: 1em;
	vertical-align: bottom;
}
