canvas, img {
	border: 1px solid silver;
}
span {
	display: inline-block;
	float: right;
}
canvas {
	display: none;
	background-color: black;
}
div {
	float: left;
	margin: 0.5em;
	padding: 0.5em;
	background-color: lavender;
}