@import url("normalize.css");
@import url("http://fonts.googleapis.com/css?family=Crimson+Text:400,700,400italic");

body {
  max-width:40em;
  font-family: 'Crimson Text', serif;
  padding: 1em;
}

h1, h2, h3 {
  color: Crimson;
}

a {
  color: DodgerBlue;
}

a:visited {
  color:SteelBlue;
}

/* Remove dotted border in Firefox when clicking on a link */
a:focus {
  outline: none;
}

/* Use Semantic Linefeeds:
 * http://rhodesmill.org/brandon/2012/one-sentence-per-line/
 */
p {
  white-space: pre-line;
}

/* there seems to be a bottom margin in svg elements.
 * the size is slightly different in Firefox and Chrome.
 * maybe this should be reported to normalize.css
 */
svg {
  margin-bottom: -0.35em;
}
